/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
//MOUSE CONFIG
 #define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
 #define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default: 10


//IMPORT
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


//LAYER CONFIG
#define QWERTY  0
#define COLEMAK 1 
#define NUM     2
#define SYM     3
#define NAV     4


/ {
    behaviors {
        togt: toggle_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&tog>, <&kp>;
            display-name = "Toggle-Tap";
        };
        ht: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&kp>, <&kp>;
            display-name = "Hold-Tap";
        };
    };
    macros {
        lambda: lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings = <&kp GT &kp EQUAL>;
        };
        gte: gte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings = <&kp GT &kp EQUAL>;
        };
        lte: lte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings = <&kp LT &kp EQUAL>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "QWERTY";
            
            bindings = <
&mt LG(L) ESC  &kp Q    &kp W    &kp E    &kp R    &kp T                        &kp Y           &kp U           &kp I           &kp O       &kp P          &to COLEMAK
&none          &mt LGUI A    &mt LALT S    &mt LCTRL D    &mt LSHIFT F         &kp G           &mt RSHIFT H    &mt RCTRL J     &mt RALT K  &mt RGUI L    &kp SEMI    &none
&mo NAV        &kp Z    &kp X    &kp C    &kp V    &kp B                        &kp N           &kp M           &kp COMMA       &kp DOT     &kp FSLH       &none
               &lt 0 LA(RET)     &lt 0 TAB         &lt NUM SPACE                &lt SYM RET     &lt NAV BSPC    &kp DEL
            >;
        };
        
        colemak_dh {
            display-name= "CMK-DH";
            
            bindings = <
&trans  &kp Q    &kp W    &kp F   &kp P   &kp B        &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &to QWERTY
&trans  &kp A    &kp R    &kp S   &kp T   &kp G        &kp M   &kp N   &kp E      &kp I    &kp O     &trans
&trans  &kp Z    &kp X    &kp C   &kp D   &kp V        &kp K   &kp H   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &trans       &trans  &trans  &trans
            >;
        };

        numbers {
            display-name = "Numbers";
            
            bindings = <
&trans   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                 &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                 &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &trans
&trans   &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V) &kp LC(Y)   &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
                         &trans  &trans  &trans                 &trans  &trans  &trans
            >; 
        };

        symbols {
            display-name = "Symbols";
            
            bindings = <
&trans  &trans     &trans     &lte       &gte       &kp LPAR        &kp RPAR  &lambda    &kp STAR  &kp CARET  &kp RBKT   &trans
&trans  &kp UNDER  &kp PIPE   &kp AMPS   &kp EXCL   &kp LBRC        &kp RBRC  &kp EQUAL  &kp PLUS  &kp MINUS  &kp SEMI   &kp GRAVE  
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LBKT        &kp RBKT  &kp AT     &kp HASH  &kp DLLR   &kp PRCNT  &trans
                              &trans     &trans     &trans          &trans    &trans     &trans
            >;
        };

        navigation {
            display-name = "Nav";
            
            bindings = <
&none  &none           &mkp MB4        &mmv MOVE_UP    &mkp MB5         &none              &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &none  &none
&none  &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&none  &none           &none           &none           &none            &none              &kp UNDER       &msc SCRL_DOWN  &msc SCRL_UP  &kp RBRC         &none  &none
                                       &mkp MCLK       &mkp RCLK        &mkp LCLK          &kp RET         &trans          &kp RALT
            >;
        };
    };
};
